includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 3
    paths:
        - src
    excludePaths:
        - src/includes/Elementor/
    ignoreErrors:
        - '#Call to static method get_instance\(\) on an unknown class Associates\\Elementor\\DynamicTags#'
        - '#Call to static method get_instance\(\) on an unknown class Associates\\Elementor\\ElementorSupport#'
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
